<span>{{messageText}}</span>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of productdata">
        <td>
            <img class="mr-2" style="width: 70px;height: 70px;" [src]=item.imagePath>
        </td>
        <td>{{item.title}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price | currency:'USD'}}</td>
        <td><button (click)="addToCart(item)">Add to Cart</button></td>
      </tr>
    </tbody>
  </table>